body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wrap-calc {
    margin-top: 20px;
    width: 460px;
    height: 450px;
    box-shadow: 1px 1px 20px rgba(000,000,000, 0.3), 
        -1px -1px 20px rgba(000,000,000, 0.3);
    border-radius: 5px;
    padding: 10px;
}

.calcItem {
    display: inline-block;
    margin-left: 10px;
}

.favoriteOperation {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 366px;
    padding: 5px;
    max-height: 190px;
    overflow-y: auto;
    border-radius: 3px;
}

.btn-success {
    margin-bottom: 5px;
}
